<h1>This is the secret page!</h1>

<img style="width: 600px;" src="https://www.dreamdictionarynow.com/wp-content/uploads/2014/08/weird-facts-about-dreams.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Log In!</a></li>
<li><a href="/logout">Log Out!</a></li>