<h1>Friends list goes here</h1>

<% friends.forEach(function(friend){ %>
    <li><%= friend %></li>
<% }); %>

<form action="/addfriend" method="POST">
    <input name="newFriend" type="test" placeholder="friends">
    <button>I made a new friend</button>
</form>